<%include header.ejs %>


<div class="am-g am-g-fixed blog-fixed">
    
    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
            <ul data-am-widget="pagination" class="am-pagination am-pagination-default" >
                  10条/页,共计:<%= pageObj.totalCount %>条记录&nbsp;&nbsp;
                <% var shIndex = 0 ; %>
                <%  for(var i=0;i < pageObj.pageCount ;i++){ %>
                    <% var curIndex = i+1 ; %>
                    
                        <% if( Math.abs(pageObj.pageIndex - curIndex) < 3  ) {%>
                            <% if(pageObj.pageIndex == curIndex) { %>
                                <li class="am-active">
                            <% }else{ %>
                                <li class="">
                            <% }%>
                                <a href="/article?index=<%- curIndex%>" class=""> <%= curIndex %> </a>
                            </li>
                        <% } else { %>
                            <% if(shIndex != 0 ){ %>

                            <% }else {  %>
                                <% shIndex = curIndex; %>
                                <li class="">
                                    <a href="/article?index=<%- shIndex%>" class=""> …… </a>
                                </li>
                               
                            <% }%>
                        <% }%>
                <% } %>
            </ul>
      
    
        <div class="am-list-news-bd">
            <ul class="am-list">
                <% if(allArticles.length != 0){ %>
                    <% allArticles.forEach(function(item){ %>
                        <a href="/articleDetail?id=<%= item.KID%>">
                            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        
                                <div class="am-u-sm-4 am-list-thumb">
                                    <img  src="assets/i/f6.jpg" />
                                </div>
                        
                                <div class=" am-u-sm-8 am-list-main">
                                    <h2><a href="/articleDetail?id=<%- item.KID%>"><%= item.Title%></a></h2>
                                    <span><a class="blog-color">article&nbsp;</a></span>
                                    <span>@By&nbsp;<%= item.Author%>&nbsp;</span>
                                    <span><%= item.CreateDate%></span>
                                    <div style="line-height:1.3em"><%- item.Content%>...</div>
                                </div>
                            </li> 
                        </a>
                    <% }) %>
                <% } else { %>
                    不好意思，暂时没有文章哦！
                <%}%>
                
            </ul>
        </div>
      
     </div>
          
</div>


<%include footer.ejs %>