
<%include header.ejs %>
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
        <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
            <ul class="am-slides">
                <li>
                    <img src="assets/i/b1.jpg">
                    <div class="blog-slider-desc am-slider-desc ">
                        <div class="blog-text-center blog-slider-con">
                            <h1 class="blog-h-margin"><a >总在思考一句积极的话</a></h1>
                            <p>每个人的际遇不同，成功总有早晚，但肯定离不开两样东西，一是努力，二就是格局。
                            </p>
                            <span class="blog-bor">2014/5/10</span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="assets/i/b2.jpg">
                    <div class="am-slider-desc blog-slider-desc">
                        <div class="blog-text-center blog-slider-con">
                            <h1 class="blog-h-margin"><a >经事长志，历事成人</a></h1>
                            <p>不经事不知事艰，不历事不晓事难。经事越多越聪颖，历事越多越干练。诚如雨后彩虹最鲜艳，霜后腊梅更娇媚。
                            </p>
                            <span>2015/4/30</span>                
                        </div>
                    </div>
                </li>
                <li>
                    <img src="assets/i/b3.jpg">
                    <div class="am-slider-desc blog-slider-desc">
                        <div class="blog-text-center blog-slider-con">
                            <h1 class="blog-h-margin"><a >做最好的自己</a></h1>
                            <p>人生如茶，空杯以对，把每一天的醒来都看作是，一种新生，空杯、归零，欣赏最好的别人，做最好的自己。
                            </p>
                            <span>2017/10/9</span>                
                        </div>
                    </div>
                </li>
                <li>
                    <img src="assets/i/b4.jpg">
                    <div class="am-slider-desc blog-slider-desc">
                        <div class="blog-text-center blog-slider-con">
                            <h1 class="blog-h-margin"><a >学会淡然一笑，一切自有安排</a></h1>
                            <p>人这一生来是偶然的，走是必然的。所以你没有必要放不下，随缘不变，不变随缘。</p>
                            <span>2018/8/1</span>                
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <% top1Article.forEach(function(item){%>
            <article class="am-g blog-entry-article">
                <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-sm-centered blog-entry-img">
                    <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
                </div>
                <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text blog-text-center">
                    <span><a class="blog-color">article &nbsp;</a></span>
                    <span>@By&nbsp;<%- item.Author%>&nbsp;</span>
                    <span><%- item.CreateDate%></span>
                    <h1><a href="/articleDetail?id=<%= item.KID%>"> <%- item.Title%></a></h1>
                    <p class="blog-text-left">
                        <%- item.Content %> ...
                    </p>
                </div>
            </article>
        <% });%>

        <% next5Articles.forEach(function(item){%>
            <article class="am-g blog-entry-article">
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                        <img src="assets/i/f6.jpg" alt="" class="am-u-sm-12">
                    </div>
                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                        <span><a class="blog-color">article&nbsp;</a></span>
                        <span>@By&nbsp;<%- item.Author%>&nbsp;</span>
                        <span><%- item.CreateDate%></span>
                        <h2><a href="/articleDetail?id=<%= item.KID%>"><%- item.Title%></a></h2>
                        <p>
                           <%- item.Content%> ...
                        </p>
                    </div>
            </article>
        <% }); %>
       <% if(next5Articles.length > 5){ %>
            <ul class="am-pagination">
                <li class="am-pagination-next"><a href="/article">更多 &raquo;</a></li>
            </ul>
       <% }%>
        
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About Me</span></h2>
            <img src="assets/i-n/mine.jpg" alt="about me" class="blog-entry-img" >
            <p>lmssong</p>
            <p>
        我是Jacee Liu，奋斗在软件开发一线的一名程序猿
        </p><p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact Me</span></h2>
            <p>
                <a title="QQ:525360674"  data-am-popover="{theme: 'primary sm',content: 'QQ:525360674'}"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a title="GitHub:https://github.com/lmssong" data-am-popover="{theme: 'primary sm',content: 'GitHub:https://github.com/lmssong'}"><span class="am-icon-github am-icon-fw blog-icon" ></span></a>
                <!-- <a title="525360674"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a> -->
                <a title="Email:lmssong@163.com" data-am-popover="{theme: 'primary sm',content: 'Email:lmssong@163.com'}"><span class="am-icon-envelope-o am-icon-fw blog-icon"></span></a>
                <a title="Wechat:lmssong1989" data-am-popover="{theme: 'primary sm',content: 'Wechat:lmssong1989'}"><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>Tags</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a  class="blog-tag">.NET</a>
            <a  class="blog-tag">C#</a>
            <a  class="blog-tag">VB.NET</a>
            <a  class="blog-tag">NodeJs</a>
            <a  class="blog-tag">SqlServer</a>
            <a  class="blog-tag">开发管理</a>
            <a  class="blog-tag">...</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Favorite</span></h2>
            <ul class="am-list">
                <li><a >篮球</a></li>
                <li><a >看书、看电影</a></li>
                <li><a >研究编程技术</a></li>
                <li><a >游戏</a></li>
                <li><a >出去随便走走</a></li>
            </ul>
        </div>
        <div class="blog-sidebar-widget blog-bor">
                <h2 class="blog-title"><span>My Favorite Sentences</span></h2>
                <ul class="am-list">
                    <li><a >每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                    <li><a >你不懂我，我不怪你。</a></li>
                    <li><a >最大的责任就是做好自己</a></li>
                    <li><a >会深度思考的人会花20%的时间来阅读 80%的时间用于思考，找出事件的本质</a></li>
                </ul>
        </div>
    </div>
</div>
<!-- content end -->
<%include footer.ejs %>

<!--[if (gte IE 9)|!(IE)]><!-->

<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->




